@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

input {
  font-family: 'Poppins', sans-serif;
}

textarea {
  font-family: 'Poppins', sans-serif;
}

.remove-btn {
  margin-right: 0.5rem;
}

/* Item Transitions */
.item-enter {
  opacity: 0;
}
/* Find out why it's entering so dang quickly */
.item-enter-active {
  opacity: 1;
  transition: 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* Doc Transitions */
.doc-enter {
  opacity: 0;
}
.doc-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in 500ms;
}
.doc-exit {
  opacity: 1;
}
.doc-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.center-panel {
  position: relative;
}

.doc-container {
  position: relative;
}

.doc-content {
  position: absolute;
  top: 0;
  left: 0;
}

/* Styling */
.item {
  display: block;
  height: 56px;
  outline: none;
  border: none;
  background-color: white;
  text-align: left;
  width: 100%;
  transition: 500ms;
}

.item:hover {
  background-color: #f8f9ff;
}

.item.active {
  background-color: #f3f5ff;
}
.item.active .item__title {
  font-weight: 600;
  transition: 500ms;
}

.item .item__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}
.item .item__subtitle {
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
